<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="{{ metadata.description }}" />
    <meta name="author" content="Mateusz Kusionowicz">
    <meta name="referrer" content="always">
    <meta name="robots" content="all">
    <meta name="keywords" content="{{ metadata.keywords }}">
    <meta name="generator" content="{{ eleventy.generator }}" />
    <link rel="canonical" href="{{metadata.canonical}}">

    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_us">
    <meta property="og:url" content="{{ metadata.canonical }}">
    <meta property="og:title" content="{{title or metadata.title}}">
    <meta property="og:description" content="{{ metadata.description }}">
    <meta property="og:image" content="{{ metadata.image }}">
    <meta property="og:see_also" content="https://www.linkedin.com/in/mateusz-kusionowicz">
    <meta property="og:see_also" content="https://github.com/TheMatiaz0">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{metadata.domain}}">
    <meta property="twitter:url" content="{{metadata.canonical}}">
    <meta name="twitter:title" content="{{metadata.title}}">
    <meta name="twitter:description" content="{{ metadata.description }}">
    <meta name="twitter:image" content="{{ metadata.image }}">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ 'apple-touch-icon.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ 'favicon-32x32.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ 'favicon-16x16.png' | url }}"
    />
    <link rel="manifest" href="{{ 'site.webmanifest' | url }}" />

    <title>{{ metadata.title }}</title>
    <link rel="stylesheet" href="{{ 'fonts.css' | url }}" />
    <link rel="stylesheet" href="{{ 'site.css' | url }}" />

    {% if css %}
      {% for link in css %}
        <link rel="stylesheet" href="{{link | url}}">
      {% endfor %}
    {% endif %}
  </head>

  <body>
    <div class="mx-auto max-w-[var(--site-width)] md:px-0 px-4">
    <header class="flex flex-wrap justify-center sm:justify-between left-0 right-0 mx-auto max-w-[var(--site-width)] fixed bg-[color:var(--background-color)] py-4 md:py-8">
      <div class="flex flex-wrap align-middle items-center content-center place-content-center gap-5">
        <img class="w-20 h-20" src="{{'logo.png' | url}}" alt="logo"> 
          <div class="introduction md:pb-0 pb-4">
            <a class="hover:text-white whitespace-nowrap" href="{{'/' | url}}">
              <h1 class="leading-9 text-xl md:text-3xl">{{header.name}}</h1>
              <small class="text-base">{{header.profession}}</small>
            </a>
          </div>
      </div>
      <div class="my-4">
        {% set btn = "btn-secondary" %}
        {% set socialColor = "secondary" %}
        {% include "social-media.njk" %}
      </div>
    </header>
    <main>
      {{ content | safe }}
    </main>
    </div>
    {% if page.url == '/' %}
      {% include "footer.njk" %}
    {% endif %}
  </body>
</html>
