<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- https://github.com/joshbuchea/HEAD -->

    <!-- Recommended -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Meta -->
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />

    <!-- Icons -->
    <!-- https://favicon.io/ -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ 'apple-touch-icon.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ 'favicon-32x32.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ 'favicon-16x16.png' | url }}"
    />
    <link rel="manifest" href="{{ 'site.webmanifest' | url }}" />

    <title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" href="{{ 'fonts.css' | url }}" />
    <link rel="stylesheet" href="{{ 'site.css' | url }}" />

    {% if css %}
      {% for link in css %}
        <link rel="stylesheet" href="{{link | url}}">
      {% endfor %}
    {% endif %}
  </head>

  <body>
    <div class="mx-auto max-w-[var(--site-width)]">
    <header class="flex justify-center sm:justify-between left-0 right-0 mx-auto flex-wrap max-w-[var(--site-width)] fixed bg-[color:var(--background-color)] py-4 md:py-8">
      <div class="flex flex-wrap align-middle items-center content-center place-content-center gap-5">
        <img class="w-20 h-20" src="{{'logo.png' | url}}" alt="logo"> 
          <div class="introduction md:pb-0 pb-4">
            <a class="hover:text-white" href="{{'/' | url}}"><h1 class="whitespace-nowrap leading-9 text-xl md:text-3xl">{{header.name}}</h1></a>
            <small class="whitespace-nowrap text-base">{{header.profession}}</small>
          </div>
      </div>
      <div class="my-4">
        {% set socialColor = "secondary" %}
        {% include "social-media.njk" %}
      </div>
    </header>
    <main>
      {{ content | safe }}
    </main>
    </div>
    {% if page.url == '/' %}
      {% include "footer.njk" %}
    {% endif %}
  </body>
</html>
