<footer class="mt-8 pb-9 pt-8 bg-[color:var(--primary-color)] w-[100%]">
      <section class="max-w-[var(--site-width)] left-0 right-0 mx-auto">
        <h2 class="whitespace-nowrap"><span class="text-black">|</span> Hi, I'm Mateusz 👋</h2>
        <div class="px-4">
        <p class="pb-3 pt-3 text-xl">I am a {{header.yearsOld}} years old game programmer, currently working remotely at <a href="{{header.companyUrl}}" class="bold hover:text-white" target="_blank" rel="noopener">{{header.currentCompany}}</b></a> (since {{header.sinceWhenCompany}}).</p> 
        <p class="pb-4 text-xl">My main area of interest is user interface, audio and gameplay, but I’m also eager to take on new challenges. I treat video games like an art, because sometimes, besides the fun, you can feel variety of emotions while playing. Because of that, my love goes to psychology, music and of course - games (including tabletop ones).</p> 
        <p class="pb-5 text-xl">Want to know more? You can find my contact information in my <a href="Mateusz Kusionowicz - Resume.pdf" class="bold hover:text-white"><b>Resume</b></a>. You can also reach me on any of my social media below:</p> 
        <div class="flex justify-center align-middle items-center">
            {% set btn = "btn-black" %}
            {% set socialColor = "black" %}
            {% include "social-media.njk" %}
        </div>
        </div>
      </section>
</footer>