<footer class="mt-8 pb-9 pt-8 bg-[color:var(--primary-color)] w-full">
      <section class="max-w-[var(--site-width)] left-0 right-0 mx-auto">
        <h2 class="whitespace-nowrap lg:text-start text-center">Hi, I'm Mateusz 👋</h2>
        <div class="px-4">
        <p class="pb-3 pt-3 md:text-xl text-lg">I am a {{header.yearsOld}} years old {{header.profession}}, currently working on <a href="{{header.projectUrl}}" class="bold hover:text-white" target="_blank" rel="noopener">{{header.workProject}}</b></a> {{header.workEnvironment}} at <a href="{{header.companyUrl}}" class="bold hover:text-white" target="_blank" rel="noopener">{{header.currentCompany}}</b></a>.</p> 
        <p class="pb-4 md:text-xl text-lg">{{header.aboutMe}}</p> 
        <p class="pb-8 md:text-xl text-lg">Want to know more? You can find my contact information in my <a href="Mateusz Kusionowicz - Resume.pdf" class="bold hover:text-white"><b>Resume</b></a>. You can also reach me on any of my social media below:</p> 
        <div class="flex justify-center align-middle items-center">
            {% set btn = "btn-black" %}
            {% set socialColor = "black" %}
            {% include "social-media.njk" %}
        </div>
        </div>
      </section>
</footer>