@font-face {
    font-family: 'Niramit-Regular';
    src: url(Niramit-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Niramit-Bold';
    src: url(Niramit-Bold.ttf);
    font-display: swap;
}