@font-face {
    font-family: 'Niramit';
    src: url('Niramit-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Niramit';
    src: url('Niramit-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}