---
pagination:
    data: projects
    size: 1
    alias: project
permalink: "{{ project.url | slug}}.html"
layout: default.njk
---

<section>
<img src="{{project.showcaseHeaderUrl}}" alt="{{project.title}} thumbnail">
<a onclick="history.back()" class="flex py-6 justify-start items-center align-middle secondary hover:text-white gap-3">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path class="w-1 h-1" fill="currentColor" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
        <h2 class="text-2xl">Go Back</h2>
</a>
<div>
<h1 class="introduction align-middle leading-snug items-center">{{project.title}}</h1>
<small class="text-base secondary">at <a target="_blank" rel="noopener" class="secondary bold hover:text-white" href="{{project.studio.url}}">{{project.studio.name}}</a></small>
</div>
<div class="flex flex-col md:flex-row py-6">
    <p class="md:pr-12 pr-0 text-white md:text-2xl leading-6 text-lg">{{project.shortDescription}}</p>
    <div class="flex flex-col md:w-[2800px] md:pt-0 pt-6 flex-wrap">
    {% for detail in project.details%}
    {% set borderClass = "" %}
    {% set paddingClass = "py-4" %}
    {% if loop.first %}
        {% set paddingClass = "pb-4 py-4" %}
    {% endif %}
    {% if not loop.last %}
        {% set borderClass = "border-b" %}
    {%endif%}
    <div class="{{paddingClass}} {{borderClass}} border-[color:#DCDCDC] text-white">
        <p class="paragraph bold">{{detail.header}}</p>
        <p class="paragraph">{{detail.content}}</p>
    </div>
    {%endfor%}
        <div class="flex justify-start py-6 gap-4">
                    <a href="{{project.sources.showcaseUrl}}" type="button" class="tracking-wide btn-secondary max-w-sm flex flex-wrap align-middle gap-3 justify-center items-center paragraph" target="_blank" rel="noopener"><div class="w-6 h-6">
                    {% if project.sources.showcasePlatform == "Steam" %}                 
                    <img alt="View Steam page of {{project.title}}" src="Steam_icon_logo.svg"></div>Steam</a>
                    {% else %}
                    <img alt="View Itch.io page of {{project.title}}" src="itchio.svg"></div>Itch.io</a>
                    {% endif %}
                    {% if project.sources.codeUrl %}
                    <a href="{{project.sources.codeUrl}}" type="button" class="tracking-wide btn-secondary max-wsm flex flex-wrap align-middle gap-3 justify-center items-center paragraph" target="_blank" rel="noopener">
                        <div class="w-6 h-6"><img src="github-mark-white.svg" alt="GitHub logo"></div>Source Code
                    </a>
                    {% endif %}
        </div>
    </div>
</div>
{#
{% for section in project.article.sections %}
    <div class="pt-8 introduction">
        <h3>{{section.header}}</h3>
        <div class="flex justify-center">
            {%if loop.index % 2 == 0 %}
            <p>{{section.text}}</p>
            <img class="w-[700px] h-auto" src="{{section.content}}" />
            {% else %}
            <img class="w-[700px] h-auto" src="{{section.content}}" />
            <p>{{section.text}}</p>
            {% endif %}
        </div>
    </div>
{%endfor%}
#}

</section>