---
pagination:
    data: projects
    size: 1
    alias: project
permalink: "{{ project.url | slug}}.html"
layout: default.njk
---

<section class="pt-64">
<h1 class="flex pb-5 introduction justify-center align-middle items-center">{{project.title}}</h1>
<div class="flex flex-col md:flex-row justify-between gap-y-6">
    <p class="big-paragraph px-8 text-white">{{project.shortDescription}}</p>
    <div class="flex flex-col w-[2500px] flex-wrap">
    {% for detail in project.details%}
    <div class="flex border-b justify-between px-8 border-[color:#DCDCDC] text-white">
        <p class="big-paragraph bold">{{detail.header}}</p>
        <p class="big-paragraph">{{detail.content}}</p>
    </div>
    {#
    <div class="flex border-b justify-between px-8 border-[color:#DCDCDC] text-white">
        <p class="big-paragraph bold">Team Size</p>
        <p class="big-paragraph">14 Designers, 6 Programmers, 5 Artists and 1 Producer</p>
    </div>
    <div class="flex border-b justify-between px-8 border-[color:#DCDCDC] text-white">
        <p class="big-paragraph bold">Platforms</p>
        <p class="big-paragraph">Windows, Mac, Linux, Android</p>
    </div>
    #}
    {%endfor%}
    </div>
</div>
{#
{% for section in project.article.sections %}
    <div class="pt-8 introduction">
        <h3>{{section.header}}</h3>
        <div class="flex justify-center">
            {%if loop.index % 2 == 0 %}
            <p>{{section.text}}</p>
            <img class="w-[700px] h-auto" src="{{section.content}}" />
            {% else %}
            <img class="w-[700px] h-auto" src="{{section.content}}" />
            <p>{{section.text}}</p>
            {% endif %}
        </div>
    </div>
{%endfor%}
#}

</section>